/**
 * common
 */

.disabled {
	display: none;
}

/**
 * main page
 */

html {
	background-color: #000;
	color: #fff;
	font-size: 15px;
	font-family: Courier, Sans, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	margin: 0;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;
	height: 100%;
}

.container-fixed {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	max-height: 100%;
}

/**
 * code editor
 */
#code-editor {
	height: 200px;
	padding: 0 5px;
	box-sizing: border-box;
	resize: vertical;
	border: 2px solid white;
	color: #fff;
	background: #000;
	font: 14px/14px Monospace;
	word-break: break-all;
	white-space: break-spaces;
	outline: none;
}

/**
 * playback controls
 */
.controls {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 1em;

	margin: 2px 0;
}
.control, .control-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.controls button {
	width: 2em;
	height: 1.8em;
	padding: 0;
	display: inline-block;
	margin-right: 3px;
}
.controls .text {
	align-self: center;
}
#control-volume {
	width: 10em;
	align-self: center;
}

/**
 * scope
 */
#canvas-container {
	display: flex;
	position: relative;
	cursor: pointer;

	box-sizing: border-box;
	border: 2px solid #fc4;
}

#canvas-main {
	width: 100%;
	height: auto;
}

#canvas-timecursor {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 2px;
	background: red;
}

#canvas-toggleplay {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: .6em 1.4em;
	background-color: rgba(0, 180, 255, 0.4);
	border-radius: 16px;
	line-height: 0;
	transform: translate(-50%, -50%);
}
#canvas-container:hover > #canvas-toggleplay {
	display: block;
	background-color: rgba(0, 180, 255, 0.5);
}
#canvas-toggleplay.canvas-toggleplay-show {
	display: block;
}
#canvas-toggleplay > svg {
	width: 46px;
	height: 46px;
	fill: currentColor;
}
#canvas-toggleplay.canvas-toggleplay-pause > #svg-canvas-toggleplay-play,
#canvas-toggleplay:not(.canvas-toggleplay-pause) > #svg-canvas-toggleplay-pause {
	display: none;
}

/**
 * status message
 */
#error {
	word-break: break-all;
}
#error[data-err-type="compile"] {
	color: #f92672;
}
#error[data-err-type="runtime"] {
	color: #fc4;
}

/**
 * text
 */
.container-scroll {
	overflow-y: auto;
	width: 100%;
}

.text-section {
	margin: 0 0 8px 8px;
	font-size: 12px;
}

figure.figure-list {
	margin-inline: 0;
}

ul {
	padding: 0 0 0 12px;
	margin: 0;
}

#library li {
	padding-bottom: .6em;
}

code {
	color: #fc4;
	word-break: break-all;
	white-space: break-spaces;
	cursor: pointer;
}
.library-song-info {
	color: grey;
	cursor: default;
}
.library-code-load {
	cursor: pointer;
}

summary {
	cursor: pointer;
	font-weight: bold;
	margin: 5px 0;
}

.star-white::after, .star-yellow::after {
	content: "\2605";
	display: inline-block;
	margin-top: -3px;
}
.star-yellow::after {
	color: yellow;
}

a, a:visited {
	color: #88d2fb;
}
a:hover, summary:hover, code:hover {
	color: #ed88fb !important;
}