html {
	background-color: #000;
	color: #fff;
	font-size: 16px;
	font-family: Courier, Sans, sans-serif;
}

body {
	text-align: center;
	margin: 0;
	height: 100vh;
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;

	text-align: left;
	display: inline-block;
}

.container-fixed {
	display: flex;
	flex-direction: column;
}

#input-code {
	box-sizing: border-box;
	font: 14px/14px Monospace;
	color: #fff;
	background: #000;
	border: 2px solid white;
	height: 200px;
	padding: 0 5px;
	overflow-y: auto;
	word-wrap: break-word;
	outline: none;
	resize: vertical;
}

.controls {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 1em;
	font-size: 14px;

	margin: 3px 0;
}
.controls button {
	display: inline-block;
	margin-right: 3px;
}
.buttons-playback button {
	width: 2em;
	height: 1.8em;
	text-align: center;
	vertical-align: middle;
	padding: 0;
}
.buttons-zoom button {
	width: 2em;
	height: 1.8em;
	text-align: center;
	vertical-align: middle;
	padding: 0;
}
.button-toggle {
	cursor: pointer;
	font-weight: bold;
	margin: 5px 0;
}

#canvas-container {
	display: flex;
	position: relative;
	cursor: pointer;

	box-sizing: border-box;
	border: 2px solid #fc4;
}
#canvas-container:hover > #canvas-toggleplay::after {
	display: block;
}
#canvas-container:hover > #canvas-toggleplay.canvas-toggleplay-show::after {
	background-color: rgba(0, 180, 255, 0.5);
}

#canvas-main {
	width: 100%;
	height: auto;
}

#canvas-timecursor {
	display: none;
	top: 0;
	bottom: 0;
	width: 2px;
	background: red;
	position: absolute;
}

#canvas-toggleplay::after {
	content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAWCAQAAACMYb/JAAAArklEQVR4AYXSr05CYRjA4cPGxjRosTijdvNJzmD1CrwAvQWugASNwGg0MoErOIVCPCMx0hmBMaAA4mPX8/2rT/i+9/1lPu0M3MtCN1OAvS+NEFkDmHqoJwcAbHzUkb9n7C5FqLynCAzdpAhLrynCRc9VnEDpKUWYpUmZIlt5nBQeY889amvGPj33HBvdt45WbAELeWyNP/qu/8dwBrDyVp9UBRi5DYXZdTLxEs77F5bCVAHlDJ1UAAAAAElFTkSuQmCC");
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 16px 30px;
	margin: -22px 0 0 -32px;
	background-color: rgba(0, 180, 255, 0.5);
	border-radius: 16px;
	line-height: 0;
}
#canvas-toggleplay.canvas-toggleplay-show::after {
	display: block;
	background-color: rgba(0, 180, 255, 0.4);
}
#canvas-toggleplay.canvas-toggleplay-stop::after {
	content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAWAQMAAAAcpuUBAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAABBJREFUCNdjgAE7O6pgGAAAhGMIudWId/YAAAAASUVORK5CYII=");
}

.container-scroll {
	position: absolute;
	overflow-y: auto;
	width: 100%;
}

code {
	color: #fc4;
	word-wrap: break-word;
	cursor: pointer;
}

.codelength {
	color: grey;
	cursor: default;
}

.code-load {
	cursor: pointer;
}

#control-volume {
	-webkit-appearance: none;
	background-color: #959595;
	height: 10px;
	width: 10em;
	border-radius: 15px;
	padding: 0 3px;
	margin-bottom: -1px;
}

#error[data-err-type="compile"] {
	color: #f92672;
}
#error[data-err-type="runtime"] {
	color: #fc4;
}

li {
	padding-bottom: 7px;
}

.middle {
	padding-top: 2px;
}

.paragraph {
	margin: 0 0 8px 8px;
	font-size: 12px;
}

.samplerate {
	font-size: 11px;
	color: #47d738;
	cursor: default;
}

.star-white::after, .star-yellow::after {
	content: "\2605";
	display: inline-block;
	margin-top: -3px;
}

.star-yellow::after {
	color: yellow;
}

ul {
	padding: 0 0 0 12px;
	margin: 0;
}


a, a:visited {
	color: #88d2fb;
}
a:hover, .button-toggle:hover, code:hover {
	color: #ed88fb !important;
}